amqp
asgiref
async-timeout
attrs
beautifulsoup4
billiard
boto3
botocore
cached-property
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cron-descriptor
cryptography
dataclasses-json
defusedxml
Deprecated
dj-rest-auth
Django
django-allauth
django-celery-beat
django-cors-headers
django-filter
django-nested-admin
django-storages
django-timezone-field
django-utils-six
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
docutils
drf-spectacular
drf-yasg
google-auth
idna
inflection
jmespath
jsonschema
jsonschema-specifications
jwcrypto
kombu
marshmallow
mypy-extensions
oauthlib
packaging
Pillow
prompt-toolkit
pyasn1
pyasn1-modules
pychievements
pycparser
PyJWT
python-crontab
python-dateutil
python-dotenv
python-facebook-api
python-monkey-business
python3-openid
pytz
PyYAML
rabbitmq
redis
referencing
requests
requests-oauthlib
rpds-py
rsa
s3transfer
six
soupsieve
sqlparse
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
wrapt
